<div class="contact-wrapper">

  <div class="contact-container">
    <h2>Contact Information</h2>
    <p>Phone: 0998-578-1950</p>
    <p>Email: kqmirasol&#64;icloud.com</p>
    <div class="social-links">
      <a href="https://www.facebook.com/karlo.m.mirasol/" target="_blank">Facebook</a>
      <a href="https://www.linkedin.com/in/karlo-martin-mirasol-0338982b7" target="_blank">LinkedIn</a>
      <a href="https://www.instagram.com/krl_mrsl/" target="_blank">Instagram</a>
    </div>
  </div>

  <div class="contact-container">
    <h1>Send a message</h1>
    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="4" required></textarea>

      <button type="submit">Submit</button>
    </form>
  </div>
</div>
