<div class="body">
  <div class="container">

    <div class="content">
        <h2>Karlo Martin Q. Mirasol</h2>
        <h1>I'm a Web <span>Developer</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque illum nam nobis, minima laudantium fugit.</p>
        <a href="download/Karlo Martin Mirasol - Resume.pdf" class="btn" download="Karlo Martin Mirasol - Resume.pdf">Download Resumé</a>
    </div>
    <div class="image">
      <img src="/images/profile.png" alt="Profile Image">
    </div>
  </div>
</div>
