<div class="wrapper">
  <div class="container">
    <div class="content">
        <h1 class="text-blk home-head">Hi,I'm Karlo Martin Q. Mirasol</h1>
        <h1 class="text-blk home-subhead">Database Developer</h1>
        <p class="text-blk home-text">I am a database developer with experience in SQL, MySQL, and PostgreSQL. I have a strong background in database design and development, data analysis, and data modeling. I am passionate about creating efficient and scalable database solutions that meet the needs of businesses and organizations. I am always looking for new opportunities to expand my skills and knowledge in the field of database development.</p>
        <a href="download/Karlo Martin Mirasol - Resume.pdf" class="btn" download="Karlo Martin Mirasol - Resume.pdf">Download Resumé</a>
    </div>
    <div class="image">
      <img src="/images/profile.png" alt="Profile Image">
    </div>
  </div>
</div>

<hr class="divider">

<div class="wrapper2">
  <div class="container2">
    <div class="content2">
        <h1 class="text-blk project-head">Feature Projects</h1>
    </div>
  </div>
  <div class="projects-container">
    <div class="project-card">
        <img src="/projects/ninethreefive.png" alt="Project 1">
        <div class="project-info">
            <h3>NineThreeFiveBag</h3>
            <p>A brief description of the project goes here.</p>
            <a href="https://ninethreefivebag.com" target="_blank">Visit Site</a>
        </div>
    </div>

    <div class="project-card">
        <img src="/projects/horizonautospa.png" alt="Project 2">
        <div class="project-info">
            <h3>Horizon Auto Spa</h3>
            <p>A brief description of the project goes here.</p>
            <a href="https://horizonautospa.netlify.app">Visit Site</a>
            <a href=""></a>
        </div>
    </div>

    <div class="project-card">
        <img src="project3.jpg" alt="Project 3">
        <div class="project-info">
            <h3>Le Prestige</h3>
            <p>A brief description of the project goes here.</p>
            <a href="#">View Project</a>
        </div>
    </div>
  </div>
</div>


